/* COLORS */
:root {
    --primary-color: #161C2D;
    --secondary-color: #FFFFFF;
    --bg_green-color: #68D5851A;
    --blue-color: #473BF0;
    --lightgreen-color: #68D585;
    --red-color: #F64B4B;
    --bg_lightgrey-color: #F4F7FA;
    --navbar_link-color: #FB6D45;


/* FONTS */

/* rubik */
--rubik: "Rubik", sans-serif;
--rubik-700: 700;

/* roboto */
--roboto: "Roboto", sans-serif;
--roboto-700: 700;
--roboto-400: 400;

}





/* FONTS IMPORT */

/* rubik */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');