h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
/* HEADER START */
.headerhome {
  display: flex;
  background-color: #e8f7ec;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
}
.logo_titleh {
  margin-left: 240px;
  margin-bottom: 7px;
  /* padding-top: 21px; */
  /* padding-left: 203px; */
  color: var(--primary-color);
  /* padding-right: 50px; */
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.16px;
  line-height: 100%;
  animation: glowOnce 2s ease;
}

.logo_titleh a {
  color: var(--primary-color);
  text-decoration: none;
}
@keyframes glowOnce {
  0% {
    text-shadow: 0 0 0px #fb6c49, 0 0 10px #fb6c49, 0 0 15px #fb6c49;
  }
  100% {
    text-shadow: none;
  }
}
.nav-itemsh {
  /* padding-top: 5px; */
  margin-bottom: 8px;
}
.nav-listh {
  margin-right: 72px;
  margin-bottom: 5px;
  display: flex;
  color: var(--primary-color);
  gap: 40px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: center;
}
.nav-linkh {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}
.nav-linkh:hover {
  color: var(--navbar_link-color);
}
.navbarh {
  display: flex;
}
.btn_containerh {
  /* padding-bottom: 20px; */
  margin-right: 240px;
  margin-bottom: 15.3px;
  display: flex;
  gap: 44px;
}
.btn_loginh {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: center;
  transition: 0.3s;
}
.btn_loginh:hover {
  color: var(--navbar_link-color);
}
/* HEADER END */

/* HERO SECTION START */
.hero_text {
  animation: slideIn 1s ease forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subscribe-btn {
  background-color: #fb6c49;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.subscribe-btn:hover {
  background-color: #e0553c;
}

.email-input:focus {
  outline: none;
  border-color: #5b53ff;
  box-shadow: 0 0 5px #5b53ff;
}

.message_img {
  animation: upDown 1s ease-in-out infinite;
}
@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.hero_img {
  animation: slideInRight 3s ease forwards;
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(15px);
  }
}
/* HERO SECTION END */

/* FOOTER START */
.footer {
  display: flex;
  background-color: #161c2d;
  height: 496px;
  width: 100%;
}
.footer_left {
  padding: 122px 101px 165px 254px;
}
.footer_content h2 {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
}
.footer_content p {
  color: #d7d8d8;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  width: 274px;
  margin-bottom: 44px;
}
.footer_img {
  display: flex;
  gap: 24px;
  transition: transform 0.3s ease;
}
.footer_img img:hover {
  transform: scale(1.3);
}
.footer_connector {
  display: flex;
  gap: 50px;
  padding-top: 122px;
  padding-left: 51px;
}
.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column.column1 {
  width: 144px;
  height: 206px;
}
.footer-column.column2 {
  width: 125px;
  height: 246px;
}
.footer-column.column3 {
  width: 156px;
  height: 206px;
}
.footer-column.column4 {
  width: 161px;
  height: 166px;
}
.ft_title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 26px;
  opacity: 65%;
}
.footer_list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer_list a {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #d7d8d8;
  text-decoration: none;
  line-height: 40px;
  text-align: left;
}
.footer_list a:hover {
  color: #fb6c49;
}

.footer_log a {
  text-decoration: none;
  color: #ffffff;
}

/* FOOTER END */
