.hero{
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    display: flex;
    background-color: #E8F7EC;
    /* background-color: aqua; */
    /* justify-content: space-between; */
    align-items: center;
    padding: 21px 45px 0 251px;
    z-index: 1000;

}
.logo_title{
    color: var(--primary-color);
    padding-right: 234px;
    font-family: var(--rubik);
    font-weight: var(--rubik-700);
    font-size: 28px;
    letter-spacing: -0.16px;
    line-height: 100%;
}
.nav-list{
    display: flex;
    color: var(--primary-color);
    /* background-color: rgb(255, 0, 34); */
    gap: 20px;
    font-size: 15px;
    font-family: var(--roboto);
    font-weight: var(--roboto-700);
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: center;
}
.nav-link{
    transition: 0.3s;
}
.nav-link:hover{
    color: var(--navbar_link-color);
}
.navbar{
    /* background-color: bisque; */
    display: flex;
    padding-right: 404px;

}
.btn_container{
    display: flex;
    gap: 30px;
    /* background-color: rgb(255, 0, 255); */
    
    
}
.btn_login{
    /* background-color: blueviolet; */
    font-family: var(--roboto);
    font-weight: var(--roboto-700);
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: right;
    transition: 0.3s;

}
.btn_login:hover{
    color: var(--navbar_link-color);
}

/* FOOTER START */
.footer {
     display: flex;
    background-color: var(--primary-color);
    padding: 70px 0;
}



.footer_left {
    padding: 60px 101px 0 254px;
}

.footer_content h2 {
    color: var(--secondary-color);
    font-family: var(--rubik);
    font-weight: var(--rubik-700);
    font-size: 28px;
    margin-bottom: 20px;
}

.footer_content p {
    color: #d7d8d8;
    font-family: var(--roboto);
    font-size: 15px;
    line-height: 26px;
    width: 80%;
    margin-bottom: 25px;
}

.footer_img {
    display: flex;
    gap: 24px;
}


.footer_connector {
    display: flex;
    gap: 50px;
    padding: 60px 245px 0 0;
}



.ft_title {
    color: #d7d8d8;
    font-family: var(--roboto);
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 10px;
    padding: 0;
}


.footer_list {
    color: var(--secondary-color);
    font-family: var(--roboto);
    font-size: 17px;
    line-height: 32px;
    padding: 0;
}

.footer_list li a {
    color: #d7d8d8;
    transition: 0.3s;
}

.footer_list li a:hover {
    color: #fff;
    margin-left: 4px;
}

.column1,
.column2,
.column3,
.column4 {
    min-width: 120px;
}

