h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
.headerhome {
  display: flex;
  background-color: #e8f7ec;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
}
.logo_titleh {
  margin-left: 251px;
  /* padding-top: 21px; */
  /* padding-left: 203px; */
  color: var(--primary-color);
  /* padding-right: 50px; */
  font-family: var(--rubik);
  font-weight: var(--rubik-700);
  font-size: 28px;
  letter-spacing: -0.16px;
  line-height: 100%;
  animation: glowOnce 2s ease;
}
@keyframes glowOnce {
  0% {
    text-shadow: 0 0 0px #FB6C49, 0 0 10px #FB6C49, 0 0 15px #FB6C49;
  }
  100% {
    text-shadow: none;
  }
}
.nav-itemsh{
  /* padding-top: 5px; */
  padding-bottom: 3px;
}
.nav-listh {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  display: flex;
  color: var(--primary-color);
  gap: 43px;
  font-size: 15px;
  font-family: var(--roboto);
  font-weight: var(--roboto-700);
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: center;
}
.nav-linkh {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}
.nav-linkh:hover {
  color: var(--navbar_link-color);
}
.navbarh {
  display: flex;
}
.btn_containerh {
  /* padding-bottom: 20px; */
  margin-right: 194px;
  display: flex;
  gap: 30px;
}
.btn_loginh {
  font-family: var(--roboto);
  font-weight: var(--roboto-700);
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: center;
  transition: 0.3s;
}
.btn_loginh:hover {
  color: var(--navbar_link-color);
}

/* FOOTER START */
.footer {
    display: flex;
    background-color: #161C2D;
    height: 496px;
    width: 100%;
  }
  .footer_left {
    padding: 122px 101px 165px 254px;
  }
  .footer_content h2 {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 36px;
  }
  .footer_content p {
    color: #D7D8D8;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 26px;
    width: 274px;
    margin-bottom: 44px;
  }
  .footer_img {
    display: flex;
    gap: 24px;
    transition: transform 0.3s ease;
  }
  .footer_img img:hover {
    transform: scale(1.3);
  }
  .footer_connector {
    display: flex;
    gap: 50px;
    padding-top: 122px;
    padding-left: 51px;
  }
  .footer-column {
    display: flex;
    flex-direction: column;
  }
  .footer-column.column1 {
    width: 144px;
    height: 206px;
  }
  .footer-column.column2 {
    width: 125px;
    height: 246px;
  }
  .footer-column.column3 {
    width: 156px;
    height: 206px;
  }
  .footer-column.column4 {
    width: 161px;
    height: 166px;
  }
  .ft_title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 20px;
    line-height: 26px;
    opacity: 65%;
  }
  .footer_list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .footer_list a {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #D7D8D8;
    text-decoration: none;
    line-height: 40px;
    text-align: left;
  }
  .footer_list a:hover {
    color: #FB6C49;
  }