*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1500px;
  height: 33px;
  display: flex;
  align-items: center;
  padding: 32px 70px 0px 70px;
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_title {
  color: #161c2d;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.16px;
  line-height: 100%;
  animation: glowOnce 2s ease;
}
@keyframes glowOnce {
  0% {
    text-shadow: 0 0 0px #fb6c49, 0 0 10px #fb6c49, 0 0 15px #fb6c49;
  }
  100% {
    text-shadow: none;
  }
}

.nav-list {
  display: flex;
  color: #161c2d;
  gap: 40px;
  list-style: none;
  padding-right: 40px;
}
.nav-link {
  text-decoration: none;
  color: #161c2d;
  list-style-type: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: center;
}

.nav-link:hover {
  color: #fb6c49;
}
.navbar {
  display: flex;
  align-items: center;
}
.btn_container {
  width: 131px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: none;
  padding-bottom: 20px;
}
.btn_login {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: right;
  transition: 0.3s;
  background: none;
  border: none;
}
.btn_login:hover {
  color: #fb6c49;
}
.about_us_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 109px;
}
.about_us_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #161c2d;
  padding-bottom: 44px;
  animation: slideIn 1s ease forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about_us_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.15px;
  color: #161c2d;
  text-align: center;
  opacity: 0.7;
  padding-bottom: 58px;
  width: 600px;
  height: 93px;
  animation: spacing 1.5s ease forwards;
}
@keyframes spacing {
  from {
    letter-spacing: 0.15px;
  }
  to {
    letter-spacing: -0.2px;
  }
}

.about_us_image {
  width: 1110px;
  height: 523px;
}

.main2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 141px 314px 0px 245px;
  gap: 121px;
}

.main2_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1.8px;
  color: #161c2d;
  width: 451px;
  height: 174px;
}
.mainp2_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 0.7;
  width: 469px;
  height: 294px;
}

.main33 {
  width: 100%;
  height: 50px;
  background-color: #f4f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images4 {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  margin-left: 254px;
}

.image4_2 {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.image4_4 {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* MAIN3 */
.main3 {
  display: flex;
  justify-content: space-between;
  margin-top: 86.5px;
  gap: 95px;
  background-color: #f4f7fa;
}

.main3img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 139px 0 138px 254px;
  width: 80%;
  height: auto;
}

.mainp3_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main3_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1.8px;
  color: #161c2d;
  width: 382px;
  height: 116px;
  padding-top: 240px;
}
.main3_paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 0.7;
  margin-right: 281px;
  padding-top: 130px;
}

.finisher {
  width: 100%;
  padding-top: 109px;
}

.main4 {
  width: 100%;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main4_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1.35px;
  color: #161c2d;
  padding-bottom: 16px;
}
.main4_paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 0.7;
  text-align: center;
  padding-bottom: 58px;
  width: 600px;
  height: 93px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding-bottom: 140px;
}

.card_decorative_circle {
  border: 1px solid #161c2d;
  width: 267px;
  height: 452px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: flex-start;
}

.card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.card_image {
  width: 267px;
  height: 356px;
}
.card_name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.15px;
  color: #161c2d;
}
.card_role {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.12px;
  color: #161c2d;
  opacity: 0.7;
}
