.hero_container{
    display: flex;
    background-color: #E8F7EC;
    overflow: hidden;
    /* height: 100vh; */
}
.hero_text{
    padding: 175px 0 130px 354px;
    width: 45%;
}
.hero_text h1{
    color: var(--primary-color);
    font-family: var(--roboto);
    font-weight: var(--roboto-700);
    font-size: 60px;
    line-height: 85px;
    letter-spacing: -2px;
    padding-bottom: 21px;
}
.hero_text p{
    color: var(--primary-color);
    font-family: var(--roboto);
    font-weight: var(--roboto-400);
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
} 
.hero_img{
    padding: 56px 180px 0 173px;
}
/* .naxis {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 2;
}
.hero_text, .hero_img {
  position: relative;
  z-index: 3;
} */

/* SECOND PART STAR */
.second_text{
    color: var(--primary-color);
    font-family: var(--roboto);
}
.second_text h2{
    padding: 114px 165px 30px 165px;;
    font-weight: var(--roboto-700);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
}
.second_text p{
    padding: 0 456px 40px 458px;
    font-weight: var(--roboto-400);
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: center;
}
.logo_top{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 62px 416px 43px 416px;
    gap: 78px;
}
.logo_bottom{
    padding-bottom: 125px;
    /* background-color: darkkhaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 84px;
}

/* THIRD PART START */
.third{
    /* height: 100vh; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.third_text{
    /* background-color: brown; */
    font-family: var(--roboto);
    color: var(--secondary-color);
    padding: 132px 920px 65px 251px;
}
.third_text h2{
    font-weight: var(--roboto-700);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
}
.third_text p{
    font-weight: var(--roboto-400);
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    opacity: 65%;
}
/* CARD */
.card_connector{
    padding: 0 239px 144px 251px;
}
.card_top{
    display: flex;
    gap: 30px;
    padding-bottom: 39px;
}
.card_bottom{
    display: flex;
    gap: 30px;
}
.card-body{
    background-color: var(--secondary-color);
    width: 359px;
    height: 117px;
    border-radius: 10px;
    box-shadow: 0px 34px 33px -23px rgba(22, 28, 45, 0.1265);
}
.card-title{
    padding: 26px 0 5px 32px;
    color: var(--primary-color);
    font-family: var(--roboto);
    font-weight: var(--roboto-700);
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-align: left;
}
.card-title:hover{
    color: var(--secondary-color);
    transition: 0.3s;
}
.card-text{
    padding: 0 135px 28px 32px;
    color: var(--primary-color);
    font-family: var(--roboto);
    font-weight: var(--roboto-400);
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: left;
}
.card-text:hover{
   color: var(--secondary-color);
   transition: 0.3s;
}
.card-body:hover{
    background-color: var(--blue-color);
    color: var(--secondary-color);
    transition: 0.3s;
}
/* THIRD PART END */


/* JOPS PART START */
.jops{
    /* height: 100vh; */
    background-color: brown;
}
.jops_text1{
    /* background-color: bisque; */
    color: var(--primary-color);

}
.jops_text1 h2{
    /* background-color: rgb(196, 228, 255); */
    /* padding: 113px 548px 17px 547px; */
    font-family: var(--roboto);
    font-weight: var(--roboto-700);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
}
.jops_text1 p{
    /* background-color: rgb(196, 255, 228); */
    /* padding: 0 505px 96px 506px; */
    font-family: var(--roboto);
    font-weight: var(--roboto-400);
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: center;
    opacity: 70%;
}

 
/* .jops_box{
    background-color: var(--lightgreen-color);
    width: 397px;
    height: 547px;
    border-radius: 10px;
    opacity: 9.86%;
    text-align: center;
    position: relative;
    bottom: 570px;
    left: 105px;
    right: 25px;
    z-index: 1;

} */
.jops_leftis{
    /* padding: 0 0 118px 245px; */
    /* flex: 1; */
    /* min-width: 300px; */
    position: relative;
    display: flex;
    align-items: flex-start;
    

}
.jops_img{
    width: 100%;
    height: auto;
    display: block;
  /* position: relative;
  z-index: 2;  */
}

.image_wrapper{
    background-color: var(--lightgreen-color);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.jops_bottomc{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 69px;
}
.notification {
            position: absolute;
            bottom: 30px;
            left: 30px;
            background: rgba(26, 32, 44, 0.95);
            color: white;
            padding: 15px 20px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            gap: 15px;
            animation: slideIn 0.5s ease;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        }

 .notification-icon {
            width: 40px;
            height: 40px;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }      

.jobs_rightss{
    flex: 1;
    min-width: 300px;
    background-color: blueviolet;
    /* max-height: 400px;
    padding: 86px 0 246px 0; */
}
.jops_text2 h4{
    color: var(--primary-color);
    font-family: var(--roboto);
    font-weight: var(--roboto-700);
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.5px;
}

.jops_text2 p{
    /* padding-left: 65px; */
    color: var(--primary-color);
    font-family: var(--roboto);
    font-weight: var(--roboto-400);
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.2px;
    opacity: 70%;
}

/* .jops_consc{
    display: flex;
    gap: 22px;
} */
.jops_iconsn{
    width: 43px;
    height: 43px;
    font-family: var(--roboto);
    font-weight: var(--roboto-700);
    font-size: 17px;
    border-radius: 50%;
    line-height: 29px;
    letter-spacing: -0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    background-color: var(--blue-color);
}