.hero_container{
    display: flex;
    background-color: #E8F7EC;
    overflow: hidden;
    /* height: 100vh; */
}
.hero_text{
    padding: 175px 0 130px 354px;
    width: 45%;
}
.hero_text h1{
    color: var(--primary-color);
    font-family: var(--roboto);
    font-weight: var(--roboto-700);
    font-size: 60px;
    line-height: 85px;
    letter-spacing: -2px;
    padding-bottom: 21px;
}
.hero_text p{
    color: var(--primary-color);
    font-family: var(--roboto);
    font-weight: var(--roboto-400);
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
} 
.hero_img{
    padding: 56px 180px 0 173px;
}
/* .naxis {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 2;
}
.hero_text, .hero_img {
  position: relative;
  z-index: 3;
} */

/* SECOND PART STAR */
.second_text{
    color: var(--primary-color);
    font-family: var(--roboto);
}
.second_text h2{
    padding: 114px 165px 30px 165px;;
    font-weight: var(--roboto-700);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
}
.second_text p{
    padding: 0 456px 40px 458px;
    font-weight: var(--roboto-400);
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: center;
}
.logo_top{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 62px 416px 43px 416px;
    gap: 78px;
}
.logo_bottom{
    padding-bottom: 125px;
    /* background-color: darkkhaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 84px;
}