.logo_title {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #161c2d;
  letter-spacing: -0.13px;
  padding-top: 24px;
  padding-bottom: 26px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f7fa;
  border-bottom: 1px solid #050303;
  height: 910px;
}

.section1 {
  padding-top: 125px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #161c2d;
  letter-spacing: -2px;
  text-align: center;
  line-height: 65px;
}
.login-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #161c2d;
  letter-spacing: -0.2px;
  text-align: center;
  margin-top: 34px;
  line-height: 32px;
  opacity: 70%;
}

.section2 {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 373px;
  background-color: #ffffff;
  border: 1px solid #e7e9ed;
  border-radius: 10px;
  box-shadow: 0px 34px 33px -23px rgba(22, 28, 45, 0.129);
}

.login-form {
  display: flex;
  flex-direction: column;
  padding-top: 31px;
}

.form-label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #161c2d;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 26px;
}

.form-control {
  width: 298px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding-left: 12px;
  border-radius: 8px;
  padding-bottom: 50px;
}
.form-control::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #a1a1a1;
  letter-spacing: -0.1px;
  line-height: 26px;
}
.login-button {
  width: 298px;
  height: 44px;
  background-color: #161c2d;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.1px;
  cursor: pointer;
}
.login-button:hover {
  background-color: #0f1420;
}
.forgot-password {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #161c2d;
  letter-spacing: -0.1px;
  text-align: center;
  margin-top: 16px;
  line-height: 24px;
  opacity: 70%;
  cursor: pointer;
}
.forgot-password:hover {
  text-decoration: underline;
}
.login-button {
  width: 300px;
  height: 59px;
  border: none;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  cursor: pointer;
  background-color: #473bf0 !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #161c2d;
}

.button1 {
  margin-top: 51px;
}

.signup-link {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #050303;
  letter-spacing: -0.2px;
  text-align: center;
  margin-top: 39px;
  line-height: 29px;
  cursor: default;
}

.link-primary {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #473bf0;
  letter-spacing: -0.2px;
  cursor: pointer;
  text-decoration: none;
  line-height: 29px;
}
