*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 46px 0 46px;
}
.logo_title {
  color: #161c2d;
  padding-right: 234px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.16px;
  line-height: 100%;
}
.nav-list {
  display: flex;
  color: #161c2d;
  gap: 40px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #161c2d;
  list-style-type: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: center;
}

.nav-link:hover {
  color: #fb6c49;
}
.navbar {
  display: flex;
  padding-right: 280px;
  align-items: center;
}
.btn_container {
  width: 131px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
.btn_login {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: right;
  transition: 0.3s;
  background: none;
  border: none;
}
.btn_login:hover {
  color: #fb6c49;
}
.support_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 109px 470px 0px 470px;
}

.support_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #161c2d;
  margin-bottom: 44px;
  text-align: center;
}
.support_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 70%;
  text-align: center;
}
