*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 46px 0 46px;
}
.logo_title {
  color: #161c2d;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.16px;
  line-height: 100%;
  animation: glowOnce 2s ease;
}
@keyframes glowOnce {
  0% {
    text-shadow: 0 0 0px #fb6c49, 0 0 10px #fb6c49, 0 0 15px #fb6c49;
  }
  100% {
    text-shadow: none;
  }
}

.nav-list {
  display: flex;
  color: #161c2d;
  gap: 40px;
  list-style: none;
  padding-right: 33px;
}
.nav-link {
  text-decoration: none;
  color: #161c2d;
  list-style-type: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: center;
}

.nav-link:hover {
  color: #fb6c49;
}
.navbar {
  display: flex;

  align-items: center;
}
.btn_container {
  width: 131px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
.btn_login {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: right;
  transition: 0.3s;
  background: none;
  border: none;
}
.btn_login:hover {
  color: #fb6c49;
}
.support_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 109px 470px 0px 470px;
}

.support_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #161c2d;
  margin-bottom: 44px;
  text-align: center;
  animation: slideIn 1s ease-in-out;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.support_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 70%;
  text-align: center;
}

.support_main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 39px 373px 210px 373px;
  text-align: left !important;
  gap: 42px;
}
.support_main-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #161c2d;
  margin-bottom: 18px;
  text-align: left !important;
  animation: slideIn 1s ease-in-out;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.support_main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 70%;
  text-align: left !important;
}

.support_main-text1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #161c2d;
  opacity: 70%;
  margin-top: 8px;
  padding-left: 15px;
  text-align: left !important;
}

/* FOOTER START */
.footer {
  display: flex;
  background-color: #161c2d;
  height: 496px;
}

.footer_left {
  padding: 122px 101px 165px 254px;
}

.footer_content h2 {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
}

.footer_content p {
  color: #d7d8d8;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  width: 274px;
  margin-bottom: 44px;
}

.footer_img {
  display: flex;
  gap: 24px;
  transition: transform 0.3s ease;
}
.footer_img img:hover {
  transform: scale(1.3);
}

.footer_connector {
  display: flex;
  gap: 50px;
  padding-top: 122px;
}
.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column.column1 {
  width: 144px;
  height: 206px;
}
.footer-column.column2 {
  width: 125px;
  height: 246px;
}
.footer-column.column3 {
  width: 156px;
  height: 206px;
}
.footer-column.column4 {
  width: 161px;
  height: 166px;
}
.ft_title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 26px;
  opacity: 65%;
}
.footer_list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer_list a {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #d7d8d8;
  text-decoration: none;
  line-height: 40px;
}
.footer_list a:hover {
  color: #fb6c49;
}
